*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
evenlyparkour0_1b1.exe filter=lfs diff=lfs merge=lfs -text
3.0/** filter=lfs diff=lfs merge=lfs -text
libfftw3-3.dll filter=lfs diff=lfs merge=lfs -text
libgmp-10.dll filter=lfs diff=lfs merge=lfs -text
libgmpxx.dll filter=lfs diff=lfs merge=lfs -text
license filter=lfs diff=lfs merge=lfs -text
swresample-3.dll filter=lfs diff=lfs merge=lfs -text
ucrtbase.dll filter=lfs diff=lfs merge=lfs -text
OpenAL32.dll filter=lfs diff=lfs merge=lfs -text
SDL2.dll filter=lfs diff=lfs merge=lfs -text
SECURITY.md filter=lfs diff=lfs merge=lfs -text
avcodec-58.dll filter=lfs diff=lfs merge=lfs -text
avutil-56.dll filter=lfs diff=lfs merge=lfs -text
libsndfile-1.dll filter=lfs diff=lfs merge=lfs -text
python39.dll filter=lfs diff=lfs merge=lfs -text
tbbmalloc.dll filter=lfs diff=lfs merge=lfs -text
BlendThumb.dll filter=lfs diff=lfs merge=lfs -text
avformat-58.dll filter=lfs diff=lfs merge=lfs -text
openvdb.dll filter=lfs diff=lfs merge=lfs -text
tbb.dll filter=lfs diff=lfs merge=lfs -text
tbbmalloc_proxy.dll filter=lfs diff=lfs merge=lfs -text
3.0 filter=lfs diff=lfs merge=lfs -text
blender.crt filter=lfs diff=lfs merge=lfs -text
python3.dll filter=lfs diff=lfs merge=lfs -text
swscale-5.dll filter=lfs diff=lfs merge=lfs -text
avdevice-58.dll filter=lfs diff=lfs merge=lfs -text
