*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
git filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
evenlyparkour0_1b1.exe filter=lfs diff=lfs merge=lfs -text
3.0/** filter=lfs diff=lfs merge=lfs -text
libfftw3-3.dll filter=lfs diff=lfs merge=lfs -text
libgmp-10.dll filter=lfs diff=lfs merge=lfs -text
libgmpxx.dll filter=lfs diff=lfs merge=lfs -text
license filter=lfs diff=lfs merge=lfs -text
swresample-3.dll filter=lfs diff=lfs merge=lfs -text
ucrtbase.dll filter=lfs diff=lfs merge=lfs -text
OpenAL32.dll filter=lfs diff=lfs merge=lfs -text
SDL2.dll filter=lfs diff=lfs merge=lfs -text
SECURITY.md filter=lfs diff=lfs merge=lfs -text
avcodec-58.dll filter=lfs diff=lfs merge=lfs -text
avutil-56.dll filter=lfs diff=lfs merge=lfs -text
libsndfile-1.dll filter=lfs diff=lfs merge=lfs -text
python39.dll filter=lfs diff=lfs merge=lfs -text
tbbmalloc.dll filter=lfs diff=lfs merge=lfs -text
BlendThumb.dll filter=lfs diff=lfs merge=lfs -text
avformat-58.dll filter=lfs diff=lfs merge=lfs -text
openvdb.dll filter=lfs diff=lfs merge=lfs -text
tbb.dll filter=lfs diff=lfs merge=lfs -text
tbbmalloc_proxy.dll filter=lfs diff=lfs merge=lfs -text
3.0 filter=lfs diff=lfs merge=lfs -text
blender.crt filter=lfs diff=lfs merge=lfs -text
python3.dll filter=lfs diff=lfs merge=lfs -text
swscale-5.dll filter=lfs diff=lfs merge=lfs -text
avdevice-58.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-filesystem-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
python37.dll filter=lfs diff=lfs merge=lfs -text
2.79 filter=lfs diff=lfs merge=lfs -text
EvenlyParkour0_1b2.exe filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-memory-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-namedpipe-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-processenvironment-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-processthreads-l1-1-1.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-localization-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-string-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-convert-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-locale-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-math-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-stdio-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-time-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-debug-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-handle-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-multibyte-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-private-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-utility-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-errorhandling-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-file-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-rtlsupport-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-synch-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-heap-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-process-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-runtime-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-file-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-processthreads-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-profile-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-sysinfo-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-util-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
BlendThumb64.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-console-l1-2-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-heap-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-interlocked-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-environment-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-console-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-file-l2-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-synch-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-timezone-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-conio-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-crt-string-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-datetime-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
api-ms-win-core-libraryloader-l1-1-0.dll filter=lfs diff=lfs merge=lfs -text
EvenlyParkour.blend.exe filter=lfs diff=lfs merge=lfs -text
EvenlyParkour0_1b3.exe filter=lfs diff=lfs merge=lfs -text
